package templ

import (
	"strconv"
)

templ Counter(global int) {
	<div id="counter">{ strconv.Itoa(global) }</div>
}

templ button() {
	<div><button hx-post="/" hx-trigger="click" hx-target="#counter" name="global" value="global">Click me</button></div>
}

templ Page(global int) {
	@base() {
		@Counter(global)
		@button()
	}
}
